.gig-child27 {
  position: absolute;
  top: 79.5px;
  left: -26px;
  background: linear-gradient(90.14deg);
  width: 1325px;
  height: 56px;
}
.vector-icon10,
.vector-icon11 {
  position: absolute;
  height: 1.64%;
  width: 3.59%;
  top: 0.55%;
  right: 42.31%;
  bottom: 97.81%;
  left: 54.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  height: 0.76%;
  width: 1.49%;
  top: 1.04%;
  right: 43.55%;
  bottom: 98.19%;
  left: 54.97%;
}
.gig-child28 {
  position: absolute;
  top: 33px;
  left: -0.5px;
  border-top: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 1289px;
  height: 1px;
}
.gig-child29 {
  position: absolute;
  top: 1066px;
  left: 9px;
  width: 62px;
  height: 61px;
  object-fit: contain;
}
.gig-child30 {
  position: absolute;
  top: 1162.5px;
  left: 58.5px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1133px;
  height: 1px;
}
.gig-child31 {
  position: absolute;
  top: -2px;
  left: -17px;
  width: 1435px;
  height: 108px;
}
.about-us6,
.contact3,
.home6,
.lists3 {
  position: absolute;
  top: 43px;
  left: 25px;
  font-weight: 500;
  display: inline-block;
  width: 92px;
}
.about-us6,
.contact3,
.lists3 {
  top: 44px;
  left: 134px;
  width: 50px;
}
.about-us6,
.contact3 {
  top: 46px;
  left: 859px;
  width: 84px;
}
.about-us6 {
  left: 992px;
  width: 98px;
}
.gig-child32 {
  position: absolute;
  top: calc(50% - 2077px);
  left: calc(50% + 482px);
  box-shadow: 6px 6px 6px rgba(58, 56, 83, 0.64);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  width: 136px;
  height: 56px;
}
.login4 {
  position: absolute;
  top: 41px;
  left: 1153px;
  font-weight: 500;
  display: inline-block;
  width: 99px;
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.93);
}
.download-3-removebg-preview-icon5 {
  position: absolute;
  top: -1px;
  left: 642px;
  width: 165px;
  height: 64px;
  object-fit: cover;
}
.hp-desktop5{
  position: relative;
  width: 1420px;
  height: 630px;
  left: 50px;
  top: 340px;
}
.find-brokers3 {
  position: absolute;
  top: 46px;
  left: 209px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 172px;
}
.gig-child33 {
  position: absolute;
  top: calc(50% - 1975px);
  left: calc(50% - 598px);
  border-radius: var(--br-7xl);
  background-color: var(--color-gray-200);
  width: 522px;
  height: 61px;
}
.gig-child34 {
  position: absolute;
  top: 113px;
  left: 477px;
  border-radius: var(--br-sm);
  background-color: var(--white);
  width: 56px;
  height: 48px;
}
.icon-search2 {
  position: absolute;
  height: 0.64%;
  width: 2.27%;
  top: 3.47%;
  right: 58.01%;
  bottom: 95.89%;
  left: 39.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.new-delhi-noida1 {
  position: absolute;
  top: 186px;
  left: 363px;
  font-weight: 500;
}
.gig-child35,
.home7 {
  position: absolute;
  top: 1166px;
  left: 0;
  width: 1286px;
  height: 333px;
}
.home7 {
  top: 1318px;
  left: 438px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 87px;
  height: 37px;
}
.image-5-icon1 {
  position: absolute;
  top: 1257px;
  left: 737px;
  border-radius: var(--br-32xl);
  width: 57px;
  height: 36px;
  object-fit: cover;
}
.download-3-removebg-preview-icon6 {
  position: absolute;
  top: 1172px;
  left: 24px;
  width: 312px;
  height: 183px;
  object-fit: cover;
}
.broker-bridge2 {
  position: absolute;
  top: 1467px;
  left: 608px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 513px;
  height: 18px;
}
.icon3 {
  position: absolute;
  top: 1249px;
  left: 658px;
  border-radius: var(--br-245xl);
  width: 58px;
  height: 46px;
  object-fit: cover;
}
.image-6-icon1,
.image-7-icon1 {
  position: absolute;
  top: 1256px;
  left: 839px;
  width: 57px;
  height: 36px;
  object-fit: cover;
}
.image-7-icon1 {
  top: 1163px;
  left: 469px;
  width: 95px;
  height: 84px;
}
.connect-with-our3 {
  position: absolute;
  top: 1187px;
  left: 687px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 315px;
  height: 36px;
}
.image-8-icon1 {
  position: absolute;
  top: 1252px;
  left: 937px;
  border-radius: var(--br-980xl);
  width: 51px;
  height: 45px;
  object-fit: cover;
}
.gig-child36 {
  position: absolute;
  top: 1154px;
  left: 385.9px;
  width: 2.5px;
  height: 426px;
  object-fit: contain;
}
.building-the-best3 {
  position: absolute;
  top: 1377px;
  left: 10px;
  font-size: var(--desktop-body-size);
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  white-space: pre-wrap;
  align-items: center;
  width: 353px;
  height: 119px;
}
.gig-child37,
.gig-child38 {
  position: absolute;
  top: 1271px;
  left: 397px;
  width: 246.1px;
  height: 0.8px;
  object-fit: contain;
}
.gig-child38 {
  top: 1275px;
  left: 1023px;
  width: 215.4px;
}
.about-us7,
.blog3,
.learn3,
.support3,
.whats-new3 {
  position: absolute;
  top: 1407px;
  left: 426px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 146px;
  height: 36px;
}
.about-us7,
.blog3,
.learn3,
.support3 {
  top: 1333px;
  left: 787px;
  width: 127px;
  height: 27px;
}
.blog3,
.learn3,
.support3 {
  top: 1409px;
  left: 810px;
  width: 80px;
  height: 37px;
}
.learn3,
.support3 {
  top: 1310px;
  left: 1120px;
  width: 98px;
}
.support3 {
  top: 1410px;
  left: 1107px;
  width: 125px;
}
.back-to-home {
  position: absolute;
  display: flex;
  top: 1307px;
  left: 172px;
  font-size: x-large;
  font-weight: 900;
  font-size: xxx-large;
  font-size: xx-large;
  color: var(--color-black);
  gap: 10px;
}
.gig-child39,
.vector-icon12 {
  position: absolute;
  top: 3989px;
  left: 564px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.vector-icon12 {
  height: 1.01%;
  width: 1.59%;
  top: 55.12%;
  right: 96.03%;
  bottom: 43.86%;
  left: 2.38%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.it-gives-you {
  top: 229px;
  left: calc(50% - 422px);
  font-size: var(--font-size-4xl);
  font-weight: 500;
  text-align: center;
  width: 808px;
  height: 74px;
}
.explore-a-neighborhood,
.it-gives-you,
.know-your-neighbors {
  position: absolute;
  display: inline-block;
  color: var(--color-black);
}
.know-your-neighbors {

  top: 161px;
  left: 534px;;
  font-size: 36px;
  font-weight: 600;
  width: 398px;
  height: 47px;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.explore-a-neighborhood {
  top: 1010px;
  left: 534px;;
  font-size: 26px;
  text-align: center;
  width: 424px;
  height: 37px;
}
.gig-child40 {
  position: absolute;
  top: 1627px;
  left: -1249px;
  width: 215.4px;
  height: 0.8px;
  object-fit: contain;
}
.dsfasfasfasfad {
  position: absolute;
  top: 583px;
  left: 699px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  color: var(--color-black);
  width: 168px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: overlay;
}
.gig-child41 {
  position: absolute;
  align-content: center;
  top: 1072px;
  left: 335px;
  border-radius: 34px;
  background-color: #D9D9D9;
  width: 760px;
  height: 88px;

}
.eg-sector-21 {
  position: absolute;
  top: 1102px;
  left: 330px;
  font-size: var(--font-size-4xl);
  display: inline-block;
  color: var(--color-black);
  white-space: pre-wrap;
  text-align: center;
  width: 463px;
  height: 38px;
}
.icon-search3 {
  position: absolute;
  
  height: 2.21%;
  width: 3.34%;
  top: 55.5%;
  right: 22.1%;
  bottom: 47.94%;
  left: 66.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gig2 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1972px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--white);
  font-family: var(--font-inter);
}

.support5{
  right: 78px;
  bottom: 162px;
  min-width: 86px;
}

.search69{
  
  height: 42px;
  width: 52px;
}
