.gig-child25 {
  position: absolute;
  top: 79.5px;
  left: -26px;
  background: linear-gradient(90.14deg);
  width: 1325px;
  height: 56px;
}
.vector-icon10,
.vector-icon9 {
  position: absolute;
  height: 1.64%;
  width: 3.59%;
  top: 0.55%;
  right: 42.31%;
  bottom: 97.81%;
  left: 54.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  height: 0.76%;
  width: 1.49%;
  top: 1.04%;
  right: 43.55%;
  bottom: 98.19%;
  left: 54.97%;
}
.gig-child26,
.gig-child27 {
  position: absolute;
  top: 209.5px;
  left: -12.5px;
  border-top: 1px solid var(--color-darkslateblue-200);
  box-sizing: border-box;
  width: 1305px;
  height: 1px;
}
.gig-child27 {
  top: 33px;
  left: -0.5px;
  width: 1289px;
}
.gig-child28,
.vector-icon11 {
  position: absolute;
  top: 1532px;
  left: 54px;
  width: 62px;
  height: 61px;
  object-fit: contain;
}
.vector-icon11 {
  height: 0.48%;
  width: 1.57%;
  top: 36.89%;
  right: 92.57%;
  bottom: 62.63%;
  left: 5.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gig-child29 {
  position: absolute;
  top: 1632.5px;
  left: 65.5px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1133px;
  height: 1px;
}
.gig-child30 {
  position: absolute;
  top: -2px;
  left: -17px;
  width: 1537px;
  height: 108px;
  background-color: black;
}
.about-us6,
.contact3,
.home6,
.lists3 {
  position: absolute;
  top: 43px;
  left: 25px;
  font-weight: 500;
  display: inline-block;
  width: 92px;
}
.about-us6,
.contact3,
.lists3 {
  top: 44px;
  left: 134px;
  width: 50px;
}
.about-us6,
.contact3 {
  top: 22px;
  left: 1076px;
  width: 84px;
}
.about-us6 {
  left: 992px;
  width: 98px;
}
.gig-child31 {
  position: absolute;
  top: calc(50% - 2077px);
  left: calc(50% + 482px);
  box-shadow: 6px 6px 6px rgba(58, 56, 83, 0.64);
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  width: 136px;
  height: 56px;
}
.hp-desktop1{
  position: relative;
  top: 188px;
  left: 127px;
  width: 1288px;
  height: 554px;
}
.login4 {
  position: absolute;
  top: 41px;
  left: 1153px;
  font-weight: 500;
  display: inline-block;
  width: 99px;
  text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.93);
}
.download-3-removebg-preview-icon5 {
  position: absolute;
  top: -1px;
  left: 642px;
  width: 165px;
  height: 64px;
  object-fit: cover;
}
.find-brokers3 {
  position: absolute;
  top: 46px;
  left: 209px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 172px;
}
.gig-child32 {
  position: absolute;
  top: calc(50% - 1975px);
  left: calc(50% - 598px);
  border-radius: var(--br-7xl);
  background-color: var(--color-gray-200);
  width: 522px;
  height: 61px;
}
.gig-child33 {
  position: absolute;
  top: 135px;
  left: 495px;
  border-radius: var(--br-sm);
  background-color: var(--white);
  width: 56px;
  height: 48px;
}
.icon-search3 {
  position: absolute;
  height: 0.64%;
  width: 2.27%;
  top: 3.47%;
  right: 58.01%;
  bottom: 95.89%;
  left: 39.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.new-delhi-noida1 {
  position: absolute;
  top: 146px;
  left: 65px;
  font-weight: 500;
}
.gig-child34 {
  position: absolute;
  top: 785px;
  left: 85px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #147b0a;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 32px;
  height: 27px;
}
.for-sale,
.xxx-xxx-xxx {
  position: absolute;
  top: 785px;
  left: 139px;
  color: var(--color-black);
}
.xxx-xxx-xxx {
  top: 849px;
  left: 65px;
  font-size: 38px;
}
.bed-2-bath,
.rent-xxxx-mo,
.xyz-sector-21 {
  position: absolute;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.rent-xxxx-mo {
  top: 862px;
  left: 429px;
}
.bed-2-bath,
.xyz-sector-21 {
  left: 65px;
}
.bed-2-bath {
  top: 935px;
  font-weight: 600;
  white-space: pre-wrap;
}
.xyz-sector-21 {
  top: 1005px;
  font-weight: 500;
}
.image-23-icon,
.image-24-icon,
.image-25-icon {
  position: absolute;
  top: 1072px;
  left: 46px;
  width: 705px;
  height: 152px;
  object-fit: cover;
}
.image-24-icon,
.image-25-icon {
  top: 856px;
  left: 943px;
  border-radius: var(--br-5xl);
  width: 405px;
  height: 216px;
}
.image-25-icon {
  top: 1148px;
  left: 940px;
  width: 380px;
  height: 76px;
}
.gig-child35 {
  position: absolute;
  top: 1253px;
  left: 54px;
  border-radius: 32px;
  background-color: var(--color-gainsboro);
  width: 618px;
  height: 99px;
}
.gig-child36,
.home7 {
  position: absolute;
  top: 1639px;
  left: -7px;
  width: 1286px;
  height: 333px;
}
.home7 {
  top: 1791px;
  left: 431px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 87px;
  height: 37px;
}
.image-5-icon1 {
  position: absolute;
  top: 1727px;
  left: 744px;
  border-radius: var(--br-32xl);
  width: 57px;
  height: 36px;
  object-fit: cover;
}
.download-3-removebg-preview-icon6 {
  position: absolute;
  top: 1645px;
  left: 17px;
  width: 312px;
  height: 183px;
  object-fit: cover;
}
.broker-bridge2 {
  position: absolute;
  top: 1940px;
  left: 601px;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 513px;
  height: 18px;
}
.icon3 {
  position: absolute;
  top: 1722px;
  left: 651px;
  border-radius: var(--br-245xl);
  width: 58px;
  height: 46px;
  object-fit: cover;
}
.image-6-icon1,
.image-7-icon1 {
  position: absolute;
  top: 1726px;
  left: 846px;
  width: 57px;
  height: 36px;
  object-fit: cover;
}
.image-7-icon1 {
  top: 1636px;
  left: 462px;
  width: 95px;
  height: 84px;
}
.connect-with-our3 {
  position: absolute;
  top: 1660px;
  left: 680px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 315px;
  height: 36px;
}
.image-8-icon1 {
  position: absolute;
  top: 1722px;
  left: 944px;
  border-radius: var(--br-980xl);
  width: 51px;
  height: 45px;
  object-fit: cover;
}
.gig-child37 {
  position: absolute;
  top: 1627px;
  left: 378.9px;
  width: 2.5px;
  height: 426px;
  object-fit: contain;
}
.building-the-best3 {
  position: absolute;
  top: 1850px;
  left: 3px;
  font-size: var(--desktop-body-size);
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  white-space: pre-wrap;
  align-items: center;
  width: 353px;
  height: 119px;
}
.gig-child38,
.gig-child39 {
  position: absolute;
  top: 1744px;
  left: 390px;
  width: 246.1px;
  height: 0.8px;
  object-fit: contain;
}
.gig-child39 {
  top: 1745px;
  left: 1030px;
  width: 215.4px;
}
.about-us7,
.blog3,
.learn3,
.support3,
.whats-new3 {
  position: absolute;
  top: 1880px;
  left: 419px;
  line-height: 24px;
  display: flex;
  font-family: var(--desktop-button);
  align-items: center;
  width: 146px;
  height: 36px;
}
.about-us7,
.blog3,
.learn3,
.support3 {
  top: 1803px;
  left: 794px;
  width: 127px;
  height: 27px;
}
.blog3,
.learn3,
.support3 {
  top: 1879px;
  left: 817px;
  width: 80px;
  height: 37px;
}
.learn3,
.support3 {
  top: 1780px;
  left: 1127px;
  width: 98px;
}
.date34{
  position: relative;
}

.support3 {
  top: 1782px;
  left: 1342px;
  width: 125px;
}
.image-26-icon,
.image-27-icon {
  position: absolute;
  top: 1230px;
  left: 72px;
  border-radius: 56px;
  width: 202px;
  height: 65px;
  object-fit: cover;
}
.image-27-icon {
  top: 1230px;
  left: 332px;
  border-radius: 42px;
  width: 225px;
  height: 61px;
}

.image-28-icon{
  position: relative;
    top: 760px;
    left: 80px;
    border-radius: 42px;
    width: 400px;
    height: 80px;
}
.back-to-house,
.request-a-tour {
  position: absolute;
  top: 1545px;
  left: 134px;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.request-a-tour {
  top: 1288px;
  left: 92px;
}
.gig-child40 {
  position: absolute;
  top: 1275px;
  left: 404px;
  border-radius: 40px;
  background-color: rgba(2, 2, 2, 0.6);
  width: 236px;
  height: 55px;
}
.select-date {
  position: absolute;
  top: 1285px;
  left: 445px;
  font-size: var(--font-size-9xl);
}
.gig-child41,
.vector-icon12 {
  position: absolute;
  top: 3989px;
  left: 564px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.vector-icon12 {
  height: 1.01%;
  width: 1.59%;
  top: 78.7%;
  right: 92.53%;
  bottom: 20.28%;
  left: 5.88%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.gig2 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1972px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--white);
  font-family: var(--font-inter);
}
